@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.help-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  cursor: default;
}

.help-content {
  margin-top: 100px;
}

.help-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
}

.help-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help-card-header > h1 {
  font-size: 50pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

.help-card-header > h2 {
  font-size: 20pt;
  margin-bottom: 0px;
}

.help-card-header > p {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

.help-card-footer {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #DEDEDE;
  width: 500px;
}