@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.my-palettes-container {
  display: flex;
  flex-direction: column;
}

.my-palettes-actions {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background: #353535;
  color: #FAFAFA;
  font-family: 'Montserrat';
  margin-top: 80px;
  padding: 8px;
}

.my-palettes-field {
  margin-left: 20px;
}

.last-field {
  margin-right: 10px;
}

.my-palettes-field-button {
  border: none;
  border-radius: 10px;
  font-family: 'Montserrat';
  cursor: pointer;
  background: #FAFAFA;
  font-size: 12pt;
  outline: none;
}

.my-palettes-field-button:hover {
  transition: 250ms;
  background: #292929;
  color: #FAFAFA;
}

.my-palettes-label {
  margin-right: 10px;
}

.my-palettes-search {
  width: 150px;
  font-family: 'Montserrat';
  margin-right: 10px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.my-palettes-actions-select {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Montserrat';
}

.my-palettes-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.my-palettes-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  font-family: 'Montserrat';
}

.my-palettes-warning > h1 {
  margin-bottom: 0px;
}
