@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.my-palettes-container {
  display: flex;
  flex-direction: column;
}

.my-palettes-actions {
  background: #353535;
  color: #FAFAFA;
  font-family: 'Montserrat';
  margin-top: 80px;
  padding: 8px;
  text-align: right;
}

.my-palettes-actions-select {
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Montserrat';
}

.my-palettes-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.my-palettes-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  font-family: 'Montserrat';
}

.my-palettes-warning > h1 {
  margin-bottom: 0px;
}
