.palette-container {
  display: flex;
  flex-direction: column;  
}

.palette-content {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 250px;
}

.palette-header {
  text-align: right;
}

.palette-action {
  cursor: pointer;
}

.palette-action:hover {
  background: #292929;
  border-radius: 3px;
  color: #FAFAFA;
}

.palette-action > .icon {
  margin-bottom: 3px;
}

.palette-color {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  0;
  padding: 0;
  width: 20%;
}

.palette-color-first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.palette-color-last {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.palette-color-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Consolas';
  font-size: 10pt;
  border-radius: 10px;
  background: #FAFAFA;
  width: 60px;
  height: 20px;
  cursor: pointer;
}
